<div class="container-fluid">

<form class="text-center border border-light p-5" [formGroup]="portalForm" (ngSubmit)="onPortalSubmit()">
  <p class="h4 mb-4">Sign in</p>
   <input type="email" formControlName="email" class="form-control mb-4" placeholder="E-mail">
    <input type="password" formControlName="password" class="form-control mb-4" placeholder="Password">

  <div class="d-flex justify-content-around">
        <div>
          <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
              <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
          </div>
       </div>
      <div><a href="">Forgot password?</a></div>
  </div>

  <!-- Sign in button -->
  <button class="btn elegant-color white-text btn-lg my-4" type="submit">Sign in</button>

  <p>Not a member?<a routerLink="/signup">Register</a></p>
</form>

</div>
