<div class="container-fluid">
 <!-- Default form register -->
<form class="text-center border border-light p-5" action="#!">

  <p class="h4 mb-4">Sign up</p>


     <!-- name -->
  <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Name" aria-describedby="defaultRegisterFormPhoneHelpBlock">
  <!--<small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
      required
  </small>-->

  <!-- E-mail -->
  <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">
  <!-- Password -->
  <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <!-- confirm Password -->
  <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Confirm Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
  <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">

  </small>


  <!-- Sign up button -->
  <button class="btn elegant-color white-text my-4 btn-block" type="submit">Sign in</button>


<hr>

  <!-- Terms of service -->
  <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->

</div>
