<div class="container mt-3">
  <ul class="nav grey lighten-4 py-1 my-3">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/admin">admin </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">/</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/videos/admin">videos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">/</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/music">edit</a>
    </li>
  </ul>


  <div class="row">
   <div class="col-md-4 mb-4  d-flex align-items-stretch">

   <div class="card">
    <img *ngIf="videos.snapshot == 'null'" class="card-img-top" src="/assets/img/img.jpg" alt="Card">
      <div class="view overlay">
        <img *ngIf="videos.snapshot != 'null'" class="card-img-top" src="https://dropdownent.s3-eu-west-1.amazonaws.com/{{ videos.snapshot }}" alt="dropdown-ent img">
        <div class="mask rgba-white-slight"></div>
     </div>
     <div class="card-body">

         <form [formGroup]="videoCoverForm">
             <div class="md-form mb-4">
                <input type="file"
                 formGroupName="file"
                 (change)="onVideoCoverSelect($event)"
                 accept="image/*" required>
             </div>

             <div class="d-flex justify-content-between">
              <div>
                <button class="btn elegant-color text-muted" type="submit">Upload</button>
              </div>
             </div>
         </form>
     </div>
   </div>
   </div>

    <div class="col-md-8 mb-4">
      <div class="card">
       <div class="card-body">

        <div class="row">
          <div class="col-md-6">
             <h4 class="card-title font-weight-bold text-muted">Update Song</h4>

               <form [formGroup]="videoUpdateForm" class="mb-4">
                 <div class="md-form">
                   <input type="text" id="link" formControlName="link" [(ngModel)]="videos.link">
                   <small id="link" class="form-text text-muted mb-4">
                    use youtube embeded link
                  </small>
                  </div>

                  <div class="md-form">
                   <input type="text" id="title" formControlName="title" [(ngModel)]="videos.title">
                    <small id="title" class="form-text text-muted mb-4">
                     Title
                    </small>
                  </div>

                  <div class="d-flex justify-content-between">
                   <div>
                     <button class="btn elegant-color text-muted" type="submit">Update</button>
                   </div>
                  </div>
               </form>

             </div>


         <div class="col-md-6">
            <h4 class="card-title font-weight-bold text-muted">Activate Song</h4>

             <div *ngIf="activeError" class="alert alert-danger" role="alert">
              {{ activeError }}
             </div>
             <div *ngIf="activeSuccess" class="alert alert-success" role="alert">
               {{ activeSuccess }}
              </div>

           <form [formGroup]="videoActiveForm" (ngSubmit)="activateVideoSubmit()">
             <div class="md-form mb-4">
              <select class="browser-default custom-select" id="active" formControlName="active" [(ngModel)]="videos.active">
               <option value="true">On</option>
               <option value="false">Off</option>
             </select>
             <small id="active" class="form-text text-muted mb-4">
              if a song is off it doesnt show on artist profile
            </small>
            </div>

            <div class="d-flex justify-content-between">
             <button class="btn elegant-color text-muted" type="submit">Activate</button>
            </div>
          </form>
       </div>


     </div>

   </div>

  </div>
 </div>

 </div>
 </div>
 <br><br><br>
