.carousel-inner{
  height: 500px;
}
.carousel-inner img {
  width:100%;
  object-fit: cover;
}

.carousel-inner .pic {
  width:540px;
  width:540px;

}
.loading{ position: relative; }
.carousel-caption{
  bottom:350px;
}
.form-control:focus{
   border-color: black;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 0, 0, 0.6);
}

@media (max-width: 575px) {

.carousel-inner{height:500px;}
.carousel-caption{ bottom:160px;}
.carousel-inner img {object-fit: cover; height: 500px !important;}

}


@media (max-width: 767px) {  }


@media (max-width: 991px) { }


@media (max-width: 1199px) {  }
