<div class="container py-4">

  <ul class="nav grey lighten-4 py-1 mb-3">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/admin">admin </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/admin">/</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#!">artist</a>
    </li>
  </ul>

 <div class="row">

  <div class="card mb-4 col-md-4 col-sm-12">
    <img *ngIf="artist.image=='null'" class="card-img-top" src="/assets/img/img.jpg" alt="drpdown-ent">
    <div class="view overlay" *ngIf="artist.image !='null'" >
      <a href="#!"></a>
       <img class="card-img-top" src="https://dropdownent.s3-eu-west-1.amazonaws.com/{{ artist.image }}" alt="Card">
      <a href="#!">
       <div class="mask rgba-white-slight"></div>
     </a>
  </div>
   <div class="card-body p-0">
      <form [formGroup]="imageform" (ngSubmit)="UpdateImageSubmit()">
        <div>
          <div *ngIf="imgError" class="alert alert-danger" role="alert">
             {{ imgError.error}}
          </div>
          <div *ngIf="imgSuccess" class="alert alert-success" role="alert">
              {{ imgSuccess.success}} : new image updated!
          </div>
       </div>

        <div>
          <input
            type="file" formControlName="image"
            (change)="onImageSelect($event)" accept="image/*">
        </div>

        <button class="btn elegant-color white-text mt-2" type="submit">Update</button>
      </form>
   </div>
 </div>

 <div class="card col-md-7 p-3 mx-2">
  <form [formGroup]="updateform" (ngSubmit)="UpdateFormSubmit()">

    <div>
      <div *ngIf="updateError" class="alert alert-danger" role="alert">
         {{ updateError.error}}
      </div>
      <div *ngIf="updateSuccess" class="alert alert-success" role="alert">
          {{ updateSuccess.success}} : new artist updated !
      </div>
      <div *ngIf="deleteError" class="alert alert-danger" role="alert">
        Error : {{ deleteError}}
    </div>
   </div>

    <input type="hidden" formControlName="id" [(ngModel)]="artist.id">
    <label>Status</label>
    <select class="browser-default custom-select" formControlName="active" [(ngModel)]="artist.active">
      <option value="true">On</option>
      <option value="false">Off</option>
    </select>
    <div class="md-form">
      <input type="text" id="inputMDEx" class="form-control" [(ngModel)]="artist.name" formControlName="name">
    </div>
     <div class="md-form amber-textarea active-amber-textarea">
      <textarea id="form19" class="md-textarea form-control" formControlName="biography" [(ngModel)]="artist.biography"></textarea>
     </div>

    <div class="d-flex justify-content-between">

    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" class="btn btn-outline-warning waves-effect">
          <i class="far fa-edit fa-sm pr-2"
           aria-hidden="true"></i>
          Update
        </button>

       <button (click)="deleteArtist(artist.id)" class="btn btn-outline-danger waves-effect">
        <i class="far fa-times-circle fa-sm pr-2" aria-hidden="true"></i>
          Delete
       </button>

        <button type="button" class="btn btn-outline-mdb-color waves-effect" data-toggle="modal" data-target="#basicExampleModal">
          <i class="fas fa-external-link-alt pr-2"></i> Platform
        </button>
     </div>
  </div>
  </form>
 </div>

</div>
</div>





<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Platform</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <div *ngIf="platformError" class="alert alert-danger" role="alert">
             Error : {{ updateError.error}}
          </div>
          <div *ngIf="updateSuccess" class="alert alert-success" role="alert">
              {{ updateSuccess.success}} : platform deleted refresh page!
          </div>
       </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let plat of platform">

             <div class="md-v-line"></div><i class="fas fa-external-link-alt mr-5"></i>
             <a (click)="deletePlatform(plat.id)" class="btn btn-outline-danger waves-effect muted-text" >
              <i class="far fa-times-circle fa-sm pr-2" aria-hidden="true"></i>{{ plat.name }}
            </a>
          </li>
         </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-mdb-color waves-effect" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<br><br>
<br><br>
<br><br>
