<div class="px-2">
<!-- Card deck -->
<div class="card-deck">

  <div class="card mb-4" *ngFor="let artist of artists">
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>


    <div class="card-body">
      <form>
        <div class="md-form">
          <input type="text" id="inputMDEx" class="form-control"  [(ngModel)]="artist.name" name="name">
          <label for="inputMDEx">Name</label>
        </div>
         <div class="md-form amber-textarea active-amber-textarea">
          <textarea id="form19" class="md-textarea form-control" rows="3" name="biography" [(ngModel)]="artist.biography"></textarea>
          <label for="form19">Bio</label>
         </div>
          <!-- Sign in button -->
    <button class="btn elegant-color white-text btn-block" type="submit">Update</button>

      </form>
  </div>
  <!-- Card -->



</div>
<!-- Card deck -->

</div>
<br><br>
