/*Contact sectiom*/
.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fcc500;
  font-size: 45px;
}

.section-content{
  text-align: center;

}
.contact{
  font-family: 'Teko', sans-serif;
  padding-top: 60px;
  /* height: 550px; */
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(163,187,187,1) 75%, rgba(224,153,62,1) 100%, rgba(255,136,0,1) 100%);
  color : #fff;
}
.contact-section{
  padding-top: 40px;
}
.subheading{ font-size: 1.3rem}
.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}
