<div class="container my-2">
  <ul class="nav white lighten-4 pl-0 mb-3">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/home">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">/</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">videos</a>
    </li>
  </ul>
</div>

<!-- Search form -->
<div class="container-fluid mb-3 py-4 rgba-black-strong">
  <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
    <i class="fas fa-search white-text" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search by typing tittle or artist"
      aria-label="Search"
     [(ngModel)]="searchQuery"
     (ngModelChange)="search($event)"
     [ngModelOptions]="{standalone: true}" />
  </form>
</div>

<div class="container-fluid">
  <div class="loading my-4">
    <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.rectangleBounce, primaryColour: this.primaryColour, secondaryColour: this.secondaryColour, tertiaryColour: this.primaryColour, backdropBorderRadius: '3px' }"
      ></ngx-loading>
 </div>

<!-- Card deck -->
<div class="container-fluid">
 <div class="row d-flex justify-content-center">

  <!-- Card -->
  <div class="card col-md-3 p-0 mb-4 mx-2" *ngFor="let video of searchResults$ | async; let i = index">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="{{ video.snapshot }}" alt="video">
      <a data-toggle="modal" attr.data-target="#{{modalId+i}}">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!--Card content-->
    <div class="card-body elegant-color">     
      <h4 class="card-title white-text text-truncate" style="font-size:1.2rem;">{{video.title | titlecase}}</h4>
   </div>

    <div class="modal fade" id="{{modalId + i}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">

        <!--Content-->
        <div class="modal-content">
         
           <div class="modal-body mb-0 p-0">
              <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                <iframe class="embed-responsive-item" [src]="video.link | safePipe" allowfullscreen></iframe>
              </div>
           </div>
          
           <div class="modal-footer justify-content-center">
             <span class="mr-4">{{ video.title | titlecase }}</span>
               <button type="button" class="btn elegant-color white-text btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
          </div>
        </div>
        
      </div>
    </div>  

</div>
</div>



<br><br>
<br><br>
<br><br>

