<div class="container my-4 d-flex justify-content-start">
  <ul class="nav grey lighten-4 py-1 mb-3">
    <li class="nav-item">
      <a class="nav-link disabled">admin </a>
    </li>
  </ul>

<!--add artist-->
<div class="modal fade" id="addartist" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify elegant-color" role="document">

    <div class="modal-content">
      <div class="modal-header text-center elegant-color">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2 ">ADD NEW ARTIST</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
      </div>

    <div class="modal-body">
      <form  [formGroup] = "artistForm" (ngSubmit)="onArtistSubmit()">
        <div>
          <div *ngIf="artistError" class="alert alert-danger alert-dismissible fade show" role="alert">
             <strong>Error :</strong> {{ artistError.error}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div *ngIf="artistSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Success :</strong>{{ artistSuccess.success}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-user prefix grey-text"></i>
           <input type="text" class="form-control validate" formControlName="name" required>
             <label data-error="wrong" data-success="right" for="form3">Name</label>
             <label
               class="text-danger"
               data-error="wrong"
               *ngIf="(artistForm.get('name').dirty || artistForm.get('name').touched) && artistForm.get('name').invalid && artistForm.get('name').errors.required">
                name field required
             </label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-book prefix grey-text"></i>
            <textarea  class="form-control validate md-textarea rounded-0" rows="5" formControlName="biography" required>
            </textarea>
            <label data-error="wrong" data-success="right" for="biography">Biography</label>
            <label
              class="text-danger"
              data-error="wrong"
              *ngIf="(artistForm.get('biography').dirty || artistForm.get('biography').touched) && artistForm.get('biography').invalid && artistForm.get('biography').errors.required">
                biography field required
            </label>
        </div>

       <div class="modal-footer justify-content-center">
        <button type="submit" class="btn elegant-color white-text waves-effect" [disabled]="artistForm.invalid">
          Add<i class="fas fa-paper-plane-o ml-1"></i>
        </button>
       </div>
  </form>
</div>
</div>

 </div>
</div>

<!--add song form-->
<div class="modal fade" id="addsong" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning elegant-color" role="document">

    <div class="modal-content">
        <div class="modal-header text-center elegant-color">
           <h4 class="modal-title white-text w-100 font-weight-bold py-2">ADD NEW SONG</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

    <div class="modal-body">
        <form [formGroup] ="addSongForm" (ngSubmit)="onSongSubmit()">
          <div>
            <div *ngIf="songError" class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error :</strong>  {{ songError.error.error}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div *ngIf="songSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Success :</strong>{{ songSuccess.success}} : new song added!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
         </div>

          <div class="md-form mb-4">
            <select formControlName="artist_id" class="browser-default custom-select" required>
               <option selected>Select Artist</option>
               <option *ngFor="let artist of artists" value={{artist.id}}>{{artist.name | uppercase}}</option>
            </select>
         </div>
           <div class="md-form mb-4">
              <i class="fas fa-user prefix grey-text"></i>
              <input type="text" class="form-control validate" formControlName="title" required >
              <label data-error="wrong" data-success="right" for="form3">Title</label>
              <span class="text-danger"
                *ngIf="(addSongForm.get('title').dirty || addSongForm.get('title').touched) && addSongForm.get('title').invalid && addSongForm.get('title').errors.required">
                  title field required
                </span>
          </div>
          <div class="md-form mb-4">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" class="form-control validate" formControlName="album" required>
            <label data-error="wrong" data-success="right" for="form3">Album</label>
         </div>
          <div class="md-form mb-4">
             <i class="fas fa-music prefix grey-text"></i>
             <input type="file"
              #asong
              formGroupName="file"
              (change)="onSongSelect($event)"
              accept="audio/*" required>
          </div>


         <div class="modal-footer justify-content-center">
           <button type="submit" class="btn elegant-color white-text waves-effect" [disabled]="addSongForm.invalid">
             Add<i class="fas fa-paper-plane-o ml-1"></i>
           </button>
        </div>
 </form>

 </div>
 </div>

</div>
</div>

<!--add platform-->
<div class="modal fade" id="addplatform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify elegant-color" role="document">

    <div class="modal-content">
      <div class="modal-header text-center elegant-color">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2 ">ADD STREAMING PLATFORM</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
          </button>
      </div>

    <div class="modal-body">
      <form  [formGroup] = "platformForm" (ngSubmit)="onPlatformSubmit()">
        <div>
          <div *ngIf="platformError" class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Error :</strong>{{ platformError.error.error}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div *ngIf="platformSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
             <strong>Success :</strong> {{ platformSuccess.success}}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="md-form mb-4">
          <select formControlName="artist_id" class="browser-default custom-select">
            <option selected>Select Artist</option>
            <option *ngFor="let artist of artists" value={{artist.id}}>{{ artist.name |uppercase }}</option>
         </select>
         <span class="text-danger"
         *ngIf="(videoForm.get('artist_id').dirty ||videoForm.get('artist_id').touched) && videoForm.get('artist_id').invalid && videoForm.get('artist_id').errors.required">
          please select artist field
        </span>
        </div>

        <div class="md-form mb-4">
          <select formControlName="name" class="browser-default custom-select">
            <option selected>Select Platform</option>
            <option value="deezer">Deezer</option>
            <option value="spotify">Spotify</option>
            <option value="tidal">Tidal</option>
            <option value="apple music">Apple Music</option>
            <option value="play music">Play Music</option>
            <option value="malawi music">Malawi Music</option>
         </select>
         <span class="text-danger"
         *ngIf="(platformForm.get('name').dirty ||platformForm.get('name').touched) && platformForm.get('name').invalid && platformForm.get('name').errors.required">
          please select platform
        </span>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-user prefix grey-text"></i>
           <input type="text" class="form-control validate" formControlName="link" required>
             <label data-error="wrong" data-success="right" for="form3">Link</label>
             <label
               class="text-danger"
               data-error="wrong"
               *ngIf="(platformForm.get('link').dirty || platformForm.get('link').touched) && platformForm.get('link').invalid && platformForm.get('link').errors.required">
                link field is required
             </label>
        </div>

       <div class="modal-footer justify-content-center">
         <button type="submit" class="btn btn-outline-warning waves-effect" [disabled]="platformForm.invalid">
           Send<i class="fas fa-paper-plane-o ml-1"></i>
        </button>
       </div>
   </form>
 </div>
</div>

 </div>
</div>

<!--add video-->
<div class="modal fade" id="addvideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning elegant-color" role="document">

      <div class="modal-content">

         <div class="modal-header text-center elegant-color">
           <h4 class="modal-title white-text w-100 font-weight-bold py-2">ADD NEW VIDEO</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

      <div class="modal-body">
           <form  [formGroup] = "videoForm" (ngSubmit)="onVideoSubmit()">
            <div>
              <div *ngIf="videoError" class="alert alert-danger alert-dismissible fade show" role="alert">
                 <strong>Error :</strong>{{ videoError.error}}
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div *ngIf="videoSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                 <strong>Success :</strong> {{ videoSuccess.success}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
           </div>
            <div class="md-form mb-4">
              <select formControlName="artist_id" class="browser-default custom-select">
                <option selected>Select Artist</option>
                <div class="dropdown-divider"></div>
                <option *ngFor="let artist of artists" value={{artist.id}}>{{ artist.name |uppercase }}</option>
             </select>
             <span class="text-danger"
             *ngIf="(videoForm.get('artist_id').dirty ||videoForm.get('artist_id').touched) && videoForm.get('artist_id').invalid && videoForm.get('artist_id').errors.required">
              please select artist field
            </span>
            </div>

            <div class="md-form mb-4">
              <i class="fas fa-user prefix grey-text"></i>
               <input type="text" class="form-control validate" formControlName="title" required>
                <label data-error="wrong" data-success="right" for="form3">Title</label>
                <span class="text-danger"
                 *ngIf="(videoForm.get('title').dirty || videoForm.get('title').touched) && videoForm.get('title').invalid && videoForm.get('title').errors.required">
                   title field required
                </span>
           </div>

           <div class="md-form mb-4">
            <i class="fas fa-link prefix grey-text"></i>
             <input class="form-control validate" formControlName="link" required>
              <label data-error="wrong" data-success="right" for="link">link</label>
              <small class="text-danger"
                *ngIf="(videoForm.get('link').dirty || videoForm.get('link').touched) && videoForm.get('link').invalid && videoForm.get('link').errors.required">
                  link field required
                </small>
           </div>
           <div class="md-form mb-4">
            <i class="fas fa-book prefix grey-text"></i>
            <input type="file" #vimage formGroupName="file" (change)="onVideoImageSelect($event)" required>

         </div>


    <div class="modal-footer justify-content-center">
      <button type="submit" class="btn elegant-gradient waves-effect" [disabled]="videoForm.invalid">
         Send<i class="fas fa-paper-plane-o ml-1"></i>
     </button>
  </div>

</form>

 </div>
 </div>
 <!--Content-->
</div>
</div>
</div>



<div class="py-4 px-2">

<div class="card-body grey lighten-4 rounded-bottom">
  <div class="row">

   <div class="col-md-3 p-1">
     <div class="card border-light">
       <div class="card-body pb-0">
         <i class="fas fa-user fa-3x pb-4"></i>
        </div>
          <hr>
          <div class="card-body pt-0">
            <div class="nav-item dropdown float-left">

              <button
                 class="btn elegant-color white-text dropdown-toggle mr-4"
                type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Artists
             </button>

            <div class="dropdown-menu">
             <a class="dropdown-item text-muted"
             *ngFor="let artist of artists" routerLink="/artist-backend/{{artist.id}}"
              data-toggle="collapse">
                {{artist.name | uppercase}}
              </a>
           </div>

        </div>
        <div class="float-right">
          <a class="btn-floating btn-lg"
           data-toggle="modal"
            data-target="#addartist">
            <i class="far fa-plus-square"></i>
          </a>
      </div>
   </div>
</div>
</div>



    <div class="col-md-3 p-1">
        <div class="card border-light">
          <div class="card-body pb-0">
            <i class="fas fa-play fa-3x pb-4"></i>
          </div>
          <hr>
          <div class="card-body pt-0">
            <div class="float-left">
               <h6 class="font-weight-bold mb-1">
                  <a class="black-text" routerLink="/music">Songs</a>
               </h6>
            </div>
            <div class="float-right">
              <a class="btn-floating btn-lg" data-toggle="modal" data-target="#addsong">
                <i class="far fa-plus-square"></i>
              </a>
            </div>
        </div>
        </div>
      </div>


<div class="col-md-3 p-1">
  <div class="card border-light">
    <div class="card-body pb-0">
      <i class="fas fa-play-circle fa-3x pb-4"></i>
    </div>
<hr>
  <div class="card-body pt-0">
    <div class="float-left">
      <h6 class="font-weight-bold mb-1">
        <a class="black-text">Platform</a>
      </h6>
    </div>
  <div class="float-right">
    <a class="btn-floating btn-lg" data-toggle="modal" data-target="#addplatform">
      <i class="far fa-plus-square"></i>
    </a>
  </div>
</div>
</div>
</div>

      <div class="col-md-3 p-2">
        <div class="card border-light">
          <div class="card-body pb-0">
            <i class="fas fa-tv fa-3x pb-4"></i>
          </div>
          <hr>
          <div class="card-body pt-0">
            <div class="float-left">
               <h6 class="font-weight-bold mb-1">
                  <a class="black-text" routerLink="/videos/admin">Videos</a>
               </h6>
            </div>
            <div class="float-right">
              <a class="btn-floating btn-lg" data-toggle="modal" data-target="#addvideo">
                <i class="far fa-plus-square"></i>
              </a>
            </div>
        </div>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 p-1">

        <div class="card border-light">
          <div class="card-body pb-0">
            <i class="fas fa-newspaper fa-3x pb-4"></i>
          </div>
          <hr>
          <div class="card-body pt-0">
            <h6 class="font-weight-bold mb-1">News</h6>
          </div>
        </div>

      </div>

  <div class="col-md-3 p-1">
    <div class="card border-light">
      <div class="card-body pb-0">
        <i class="fas fa-chalkboard-teacher fa-3x pb-4 text-dark"></i>
      </div>
      <hr>

        <div class="card-body pt-0">
          <div class="nav-item dropdown float-left">

              <a class="nav-link text-muted" href="#" id="navbardrop" data-toggle="dropdown">
               Admin
              </a>
              <div class="dropdown-menu" >
                <a class="dropdown-item text-muted"

                data-toggle="collapse">
               admin 1
              </a>
            </div>
        </div>
      <div class="float-right">
        <a class="btn-floating btn-lg text-muted" routerLink="/signup">
     <i class="far fa-plus-square"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>
</div>


<br><br>
<br><br>
