<div class="container mt-3">
  <ul class="nav grey lighten-4 py-1 my-3">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/admin">admin </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/admin">/</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/music">music</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/admin">/</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" routerLink="/admin">edit </a>
    </li>
  </ul>

 <div class="row">
  <div class="col-md-4 mb-4  d-flex align-items-stretch">
   <div class="card">
    <img *ngIf="songs.cover == 'null'" class="card-img-top" src="/assets/img/img.jpg" alt="Card">
     <div class="view overlay">
       <img *ngIf="songs.cover != 'null'" class="card-img-top" src="{{ songs.cover }}" alt="dropdown-ent img">
       <div class="mask rgba-white-slight"></div>
    </div>

    <div class="card-body">
        <form [formGroup]="songCoverForm" (ngSubmit)="UpdateImageSubmit()">
          <div>
            <div *ngIf="imgError" class="alert alert-danger alert-dismissible fade show" role="alert">
               <strong>Error :</strong>{{ imgError.error}}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div *ngIf="imgSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                 <strong>Success :</strong>{{ imgSuccess.success}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                 </button>
            </div>
         </div>
            <div class="md-form mb-4">
               <input type="file"
               #simage
                (change)="onSongCoverSelect($event)"
                accept="image/*" required>
            </div>

            <div class="d-flex justify-content-between">
             <div>
               <button class="btn elegant-color text-muted" type="submit">Upload</button>
             </div>
            </div>
        </form>
    </div>
  </div>
  </div>

   <div class="col-md-8 mb-4">
     <div class="card">
      <div class="card-body">

       <div class="row">
         <div class="col-md-6">
            <h4 class="card-title font-weight-bold text-muted">Update Song</h4>

              <form [formGroup]="SongUpdateForm" (ngSubmit)="UpdateSongSubmit()" lass="mb-4">
                <div>
                  <div *ngIf="updateError" class="alert alert-danger alert-dismissible fade show" role="alert">
                     <strong>Error :</strong>{{ updateError.error}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div *ngIf="updateSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
                       <strong>Success :</strong>{{ updateSuccess.success}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                       </button>
                  </div>
               </div>

                <div class="md-form">
                  <input type="text" id="album" formControlName="album" [(ngModel)]="songs.album">
                  <small id="active" class="form-text text-muted mb-4">
                   Album
                  </small>
                 </div>

                 <div class="md-form">
                  <input type="text" id="title" formControlName="title" [(ngModel)]="songs.title">
                  <small id="active" class="form-text text-muted mb-4">
                   Title
                 </small>
                 </div>

                 <div class="d-flex justify-content-between">
                  <div>
                    <button class="btn elegant-color text-muted" type="submit">Update</button>
                  </div>
                 </div>
              </form>

            </div>


        <div class="col-md-6">
           <h4 class="card-title font-weight-bold text-muted">Activate Song</h4>

            <div *ngIf="activeError" class="alert alert-danger alert-dismissible fade show" role="alert">
               <strong>Error :</strong> {{ activeError.error }}
               <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div *ngIf="activeSuccess" class="alert alert-success" role="alert">
              <strong>Success :</strong>{{ activeSuccess.success}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
               </button>
             </div>

          <form [formGroup]="SongActiveForm" (ngSubmit)="activateSongSubmit()">
            <div class="md-form mb-4">
             <select class="browser-default custom-select" id="active" formControlName="active" [(ngModel)]="songs.active">
              <option value="true">On</option>
              <option value="false">Off</option>
            </select>
            <small id="active" class="form-text text-muted mb-4">
             if a song is off it doesnt show on artist profile
          </small>
           </div>

           <div class="d-flex justify-content-between">
            <button class="btn elegant-color text-muted" type="submit">Activate</button>
           </div>
         </form>
      </div>


    </div>

  </div>

 </div>
</div>

</div>
</div>
<br><br><br>
