
<nav class="navbar navbar-expand-md navbar-light sticky-top rgba-white-strong">

    <!-- Brand -->
    <a class="navbar-brand" routerLink="home">
      <img src="/assets/img/dd-logo.svg" alt="dropdown ent" height="60" width="60" class="d-inline-block alighn-top">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportContent" aria-label="Toggle navigation" aria-expanded="false">
           <span class="navbar-toggler-icon"></span>
  </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" routerLink="home" routerLinkActive="active" data-toggle="collapse" data-target="#navbarSupportedContent">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="releases" routerLinkActive="active" data-toggle="collapse" data-target="#navbarSupportedContent">Releases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="videos" routerLinkActive="active" data-toggle="collapse" data-target="#navbarSupportedContent">Videos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="news" routerLinkActive="active" data-toggle="collapse" data-target="#navbarSupportedContent">News</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         Artist
        </a>
        <div class="dropdown-menu" >
          <a class="dropdown-item"  *ngFor="let artist of artists" routerLink="artist/{{artist.id}}" routerLinkActive="active" data-toggle="collapse" data-target="#navbarSupportedContent">{{ artist.name | uppercase }}</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login" routerLinkActive="active" data-toggle="collapse" data-target="#navbarSupportedContent">Portal</a>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto nav-flex-icons" *ngIf="display">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333 " data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-user"></i>{{ display.name }}
        </a>
        <div class="dropdown-menu dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" routerLink="admin" data-toggle="collapse" data-target="#navbarSupportedContent">My Page</a>
          <a class="dropdown-item" routerLink="settings" data-toggle="collapse" data-target="#navbarSupportedContent">Settings</a>
          <hr>
          <a class="dropdown-item" (click)="logout()" data-toggle="collapse" data-target="#navbarSupportedContent">Logout</a>
        </div>
      </li>
    </ul>

  </div>



</nav>
