<div class="container my-2">
  <ul class="nav white lighten-4 pl-0 mb-3">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/home">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">/</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">artist</a>
    </li>
  </ul>
</div>

<!-- Jumbotron -->
<div class="card card-image" style="background-image: url({{artist?.image}});background-size: contain;">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-3">

      <!-- Content -->
      <h2 class="card-title h2 my-4 font-weight-bold">{{artist?.name | uppercase}}</h2>
      <div class="dropdown">
        <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenuMenu" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu px-1" aria-labelledby="dropdownMenuMenu">

          <button class="dropdown-item"
           type="button"
           *ngFor="let plat of platform"
            (click)="goToPlatform(plat.link)">
            <img src="{{ plat.image }}" class="px-1" width="32"/>
              {{ plat.name }}
          </button>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mx-auto mx-sm-2">
<button class="btn btn-elegant my-3" type="button" data-toggle="collapse" data-target="#mycollapse"
    aria-expanded="false" aria-controls="mycollapse">
    Biography
  </button>
<div class="container collapse" id="mycollapse">
  <h3 class="h3">Biography</h3>
  <p class="my-2 pb-2 px-md-5 mx-md-5"></p>
  {{ artist?.biography }}
</div>
<!-- Jumbotron -->
<br>
<br>
</div>



<div class="container mx-auto mb-3 py-4 scrollbar scrollbar-black bordered-black square thin stylish-color">


    <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
      <i class="fas fa-search white-text" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search by typing tittle"
        aria-label="Search"
       [(ngModel)]="searchQuery"
       (ngModelChange)="search($event)"
       [ngModelOptions]="{standalone: true}" />
    </form>

    <div class="loading">
      <ngx-loading [show]="loading" [config]="{ animationType: ngxLoadingAnimationTypes.rectangleBounce, primaryColour: this.primaryColour, secondaryColour: this.secondaryColour, tertiaryColour: this.primaryColour, backdropBorderRadius: '3px' }"
        ></ngx-loading>
   </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 my-3 mx-md-4" *ngFor="let song of searchResults$ | async">
      <div class="row no-gutters">
         <div class="col-6">
           <img *ngIf="song.cover == 'null'" class="img-fluid" src="/assets/img/img.jpg">
           <img *ngIf="song.cover != 'null'"src="{{song.cover}}" class="img-fluid" width="200" alt="image">
         </div>
         <div class="col-6">
           <div>
             <p class=" text-sm text-white-50 mx-1 mt-2 text-truncate" style="font-size:0.7rem;">{{song.title | uppercase}} </p>
             <h6 class="card-title text-white-50 mx-1 mt-2 font-weight-bold"> {{song.album | uppercase}}</h6>

             <button type="button" class="btn btn-md btn-blue-grey px-3" (click)="songLoader(song)">
              <i class="fas fa-play" aria-hidden="true" *ngIf="!played"></i>
              <i class="fas fa-redo-alt" aria-hidden="true" *ngIf="played"></i>
            </button>
            <button type="button" class="btn btn-md btn-blue-grey px-3" (click)="playlistSong(song)">
              <i class="fas fa-list-ul" aria-hidden="true"></i>
              <i class="fas fa-check"  aria-hidden="true"></i>
           </button>

           </div>
         </div>
       </div>
     </div>
   </div>

</div>
<br>

<div class="container py-4 stylish-color" *ngIf="albums">
  <h3 class="h3 font-weight-bold my-3 text-muted">Albums</h3>
  <div class="card-deck">

   <div class="card mb-4 p-0 col-md-4" *ngFor="let album of albums,let i=index">
     <div class="view overlay">
       <img *ngIf="album[0].cover=='null'" class="card-img-top" src="/assets/img/img.jpg" alt="album">
       <img *ngIf="album[0].cover !='null'" class="card-img-top" src="{{album[0].cover}}" alt="album">
       <div class="mask rgba-white-slight"></div>
     </div>

    <div class="card-body">
      <h4 class="card-title text-muted">{{ album[0].album | uppercase}}</h4>
       <div class="d-flex justify-content-between">
         <div>
          <button type="button" class="btn btn-elegant btn-sm px-3 m-1 text-muted m-0" (click)="albumLoader(album)">
            <i class="far fa-play-circle fa-2x pr-2" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-elegant btn-sm px-3 m-1 text-muted m-0" (click)="playlistAlbum(album)">
            <i class="fas fa-list-ul fa-2x pr-2" aria-hidden="true"></i>
          </button>
         </div>


       <div>
        <span type="button" class="btn-sm px-3  text-muted m-0" data-toggle="modal" attr.data-target="#song{{i}}">
          <i class="fas fa-ellipsis-v fa-2x pr-2" aria-hidden="true"></i>
        </span>
      </div>

    <div class="modal fade" id="song{{i}}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">


    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ album[0].album | uppercase }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
         </div>

      <div class="modal-body">
        <button type="button" class="btn btn-blue-grey waves-effect" (click)="albumLoader(album)" >
           <i class="fas fa-play " aria-hidden="true"></i>
           play all
          </button>
      <ol>
           <li class="my-4 text-truncate" *ngFor="let item of album;let j = index;">
            <div class="float-left text-truncate">
              <small class="text-md muted-text text-truncate"> {{ j+1 }}. {{ album[j].title | titlecase }} </small>
            </div>

            <div class="float-right">
              <button type="button" class="btn btn-sm btn-blue-grey px-3" (click)="songLoader(album[j])">
                <i class="fas fa-play" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-sm btn-blue-grey px-3" (click)="playlistSong(album[j])">
                <i class="fas fa-list-ul" aria-hidden="true"></i>
              </button>
            </div>

          </li>
      </ol>
      </div>

  </div>

 </div>
</div>





    </div>
  </div>

 </div>
</div>



</div>


  <br><br><br>

